<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo list</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>
    <div class="background">
        <img src="./images/bg-desktop-dark.jpg" alt="">
        <img src="./images/bg-mobile-dark.jpg" alt="">
    </div>
    <section>
        <nav>
            <h2>TODO</h2>
            <img src="./images/icon-sun.svg" alt="">
        </nav>
        <div class="container">
            <form action="/?method=create" method="post" class="head">
                <button type="submit"></button>
                <input name="tasck" type="text" placeholder="inter your todo" required>
            </form>
            <div class="boxs">
                <% tasks.forEach(task=> { %>
                    <div class="box <%= task.done ? " completed":"" %>">
                        <div>
                            <form action="/?method=update&id=<%= task._id %>" method="post">
                                <input style="display: none;" name="tasck" value=<%=task.tasck %>>
                                <input style="display: none;" name="done" value="<%= !task.done %>">
                                <button type="submit"><img src="./images/icon-check.svg" alt=""></button>
                            </form>
                            <h5>
                                <%= task.tasck %>
                            </h5>
                        </div>
                        <form action="/?method=delete&id=<%= task._id %>" method="post">
                            <button class="delete" type="submit">
                                <img src="./images/icon-cross.svg" alt="">
                            </button>
                        </form>
                    </div>
                    <% }) %>
                        <div class="fotter">
                            <div class="item">
                                <span>
                                    <%= tasks.length %>
                                </span>
                                <h5>items left</h5>
                            </div>
                            <div class="fillter">
                                <button class="active" id="all">All</button>
                                <button id="active">Active</button>
                                <button id="completed">completed</button>
                            </div>
                            <div class="cleaer">
                                <form action="/?method=deleteAll" method="post">
                                    <button>cleaer completed</button>
                                </form>
                            </div>
                        </div>
            </div>
        </div>
    </section>
    <script src="./main.js"></script>
</body>

</html>